{% extends "master.html" %}

{% block title %}
  My Surf Club
{% endblock %}


{% block content %}

<div class="fondo d-flex justify-content-center align-items-center">
  <div style=" color: white; ">
      <h1 style="font-size:10vh; font-family: 'Mali', cursive; -webkit-text-stroke: 1px black;">Mallorca Surf Club</h1>

      <p style="font-size: 4vh; -webkit-text-stroke: 1.5px black;">Nuestros Profesionales <a href="members/" class="link-light">MEMBERS</a></p>
      
    </div>
</div>
{% endblock %}