{% load static %}

<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'mystyles.css' %}">
<head>  
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-info">      
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'inicioMaster/img/logo.png' %}" style="width: 80px; margin: 10px;" alt="Mallorca Surf Club">
      </a>
      <ul class="nav">
        </a>            
        <li class="nav-item">
          <a class="nav-link link-light" href="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/members">MEMBERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/escuela">ESCUELA</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/hostel">HOSTEL</a>
        </li>
      </ul>    
    </div>
  </nav>
{% block content %}
{% endblock %}

</body>
</html>