{% load static %}

<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'mystyles.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap" rel="stylesheet">
  <script src="{% static 'scripts.js' %}"></script>
<head>  
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-info">      
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'inicioMaster/img/logoBlanco.png' %}" style="width: 80px; margin: 10px;" alt="Mallorca Surf Club">
      </a>
      <ul class="nav">
        </a>            
        <li class="nav-item">
          <a class="nav-link link-light" href="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/members">MEMBERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/escuela">ESCUELA</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/hostel">HOSTEL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/contacto">CONTACTO</a>
        </li>
      </ul>    
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-4">
    <div class="container">
      <p>&copy; {% now "Y" %} Mallorca Surf Club. Todos los derechos reservados.</p>
      <p>Diseñado por Maty</p>
    </div>
  </footer>

</body>
</html>