{% load static %}

<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'mystyles.css' %}">
<head>  
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
    <div class="topnav">
        <ul class="nav bg-info">
            <li class="nav-item">
              <a class="nav-link link-light" href="/">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="/members">MEMBERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="/escuela">ESCUELA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="/hostel">HOSTEL</a>
            </li>
          </ul>
    </div>
{% block content %}
{% endblock %}

</body>
</html>