{% extends "master.html" %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center p-5 m-2">Nuestros Profesionales</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% for x in mymembers %}
      <div class="card p-5 m-2" style="width: 100%;">
        <img src="{{x.imagen.url}}">
        <div class="card-body" style="text-align: center;">
          <h7 class="card-title">{{ x.firstname }} {{ x.lastname }}</h7>
        </div>
        <div class="card-footer text-center btn btn-success"onclick="window.location = 'details/{{ x.id }}'">Detalles</div>
      
      
      </div>  
      {% endfor %}  
    </div>
  </div>
</div>
{% endblock %}