{% extends "master.html" %}
{% load static %}
{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}

{% block content %}
<div class="container center">
  <div class="card" style="width: 400px;">
    
    <div class="card-body">
      <img src="{{mymember.imagen.url}}" class="card-img-top">
      <h1 class="card-title">{{ mymember.firstname }} {{ mymember.lastname }}</h1>
      <p class="card-text">Phone {{ mymember.phone }}</p>
      <p class="card-text">Member since: {{ mymember.joined_date }}</p>
    </div>
  </div>
</div>  
{% endblock %}  