{% extends 'master.html' %}

{% block titleh1 %}Contacto{% endblock %}

{% block content %}
  <div class="contenedorFormulario fondoContacto">
    <h1 class="text-center text-white tituloContenedorFormulario">Apuntate hoy mismo!</h1>
    {% if "valido" in request.GET %}
      <p class="alert alert-success text-center">Información enviada correctamente</p>
    {% endif %}
    <form action="" method="POST" class="formulario">
      {% csrf_token %}
      <div class="form-group">
        <label for="nombre" class="text-white">Nombre:</label>
        {{ miFormulario.nombre }}
      </div>
      <div class="form-group">
        <label for="correo" class="text-white">Correo electrónico:</label>
        {{ miFormulario.email }}
      </div>
      <div class="form-group">
        <label for="mensaje" class="text-white">Mensaje:</label>
        {{ miFormulario.contenido }}
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>

{% endblock %}